@model pharma.Models.Medicament

@{
    ViewData["Title"] = "Adaugă medicament";
}

<h2 class="mb-4">Adaugă medicament</h2>

<form asp-action="Create" method="post">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <label asp-for="Nume" class="form-label"></label>
            <input asp-for="Nume" class="form-control" />
            <span asp-validation-for="Nume" class="text-danger"></span>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Salvează</button>
            <a asp-action="Index" class="btn btn-secondary">Renunță</a>
        </div>
    </div>
   
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


