@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1 text-danger">Test Bootstrap</h1>
        </div>
    </div>
</div>

